$width-md: 768px;
$width-lg: 1080px;
$width-xl: 1440px;

$color-white:#FFFFFF;
$color-dark-white: #CCCCCC;
$color-border: #048d50;
$color-title: #323232;
$color-text: #393939;
$color-btn: #FFFFFF;
$color-bg-btn: #039c7e;
$color-link: #039c7e;
$color-link-hover: #4ccaaa;
$color-light-green: #039c7e;
$color-placeholder: #CCCCCC;
$color-red: #cb0404;