@use "../../styles/variables" as variable;

.footer {
  flex: 0 0 auto;
  width: 100%;
  padding: 25px 0;
  color: variable.$color-footer-text;
  background-color: #393939;
}

.footer__copyright {
  font-size: 15px;
  text-align: center;
}
